<template>
  <div class="d-flex p-2">
    <button class="btn btn-outline-success"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#addClockModal">
      Add clock
    </button>

    <div class="modal fade"
         id="addClockModal"
         tabindex="-1"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">
              New alarm
            </h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
            </button>
          </div>

          <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label">
                  Alarm name
                </label>
                <input type="text"
                       class="form-control"
                       id="name"
                       placeholder="Alarm name"
                       v-model="name"/>
              </div>
              <div class="mb-3">
                <label for="time" class="form-label">
                  Time
                </label>
                <vue-timepicker format="HH:mm"
                                id="time"
                                v-model="time"/>
              </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    id="apply-button">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import VueTimepicker from "vue3-timepicker"
import 'vue3-timepicker/dist/VueTimepicker.css'

export default {
  components: { VueTimepicker },
  setup(props, context) {
    const name = ref('')
    const time = ref({
      HH: '00',
      mm: '00'
    })

    const create =  async () => {
      const created = await createAlarm(name.value, time.value)
      if (!created.success) {
        alert(created.message)
      } else {
        context.emit('refresh')
      }
    }

    onMounted(() => {
      document.querySelector('#apply-button').addEventListener('click', create)
    })

    return {
      name,
      time,
      create
    }
  }
}

async function createAlarm(name, time) {
  const response = await fetch('http://127.0.0.1:5000', {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "Accept": "application/json, text-plain, */*"
    },
    body: JSON.stringify({
      name: name,
      time: time.HH + ":" + time.mm,
      isActive: true
    })
  })

  const result = await response.json()
  return result
}
</script>