<template>
  <div class="card mb-3 rounded-pill">
    <div class="card-body">
      <div class="row">
        <div class="col-3 fw-normal h3 m-0">
          {{ data.time }}
        </div>
        <div class="col-6 align-items-center d-flex">
          {{ data.name }}
        </div>
        <div class="align-items-center col-3 d-flex justify-content-end pe-4">
          <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   role="switch"
                   :checked="data.isActive"
                   @change="updateClock()"
                  >
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16" @click="deleteClock(clock.id)">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { toRef } from '@vue/reactivity'

export default {
  props: ['clock'],
  setup(props, context) {
    const data = toRef(props, 'clock')

    const deleteClock = async (id) => {
      const deleted = await deleteAlarm(id)
      if (deleted.success) {
          context.emit('refresh')
      }
    }

    const updateClock = async () => {
      const updated = updateAlarm({
        id: data.value.id,
        name: data.value.name,
        time: data.value.time,
        isActive: !data.value.isActive
      })

      if (updated.success == true) {
        data.value.isActive = !data.value.isActive
      }
    }

    return {
      data,
      deleteClock,
      updateClock
    }
  }
}

async function deleteAlarm(id) {
  const response = await fetch('http://127.0.0.1:5000', {
    method: 'DELETE',
    headers: {
      "Content-Type": "application/json",
      "Accept": "application/json, text-plain, */*"
    },
    body: JSON.stringify({
      id: id
    })
  })

  const data = await response.json()
  return data
}

async function updateAlarm(clock) {
  const response = await fetch('http://127.0.0.1:5000', {
    method: 'PUT',
    headers: {
      "Content-Type": "application/json",
      "Accept": "application/json, text-plain, */*"
    },
    body: JSON.stringify(clock)
  })

  const result = await response.json()
  return result
}
</script>