<template>
  <div>
    <clock v-for="clock in data"
          :key="clock.id"
          :clock="clock"
          @refresh="$emit('refresh')"/>
  </div>
</template>

<script>
import Clock from './Clock.vue'
import { toRef } from 'vue'

export default {
  components: {Clock},
  props: ['clocks'],
  setup(props) {
    const data = toRef(props, 'clocks');

    return {
      data
    }
  }
}
</script>