<template>
  <div class="container py-5">
    <div class="justify-content-center row">
      <div class="card col-6">
        <div class="bg-white card-header d-flex justify-content-between">
          <h1>Alarm API</h1>
          <AddClock @refresh="getClocks()"/>
        </div>
        <div class="card-body">
          <router-view :clocks="clocks" @refresh="getClocks()"></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref,onMounted } from 'vue'
import AddClock from './components/AddClock.vue'

export default {
  components: {AddClock},
  setup() {
    const clocks = ref([])

    const getClocks = async () => {
      clocks.value = await fetchClocks()
    }

    onMounted(getClocks)

    return {
      clocks,
      getClocks
    }
  }
}

async function fetchClocks() {
  const response = await fetch('http://127.0.0.1:5000')
  const data = await response.json()
  return data
}
</script>
